[user]
	email = todo@wherever.com
	name = my name
[core]
	eol = lf
	fileMode = false
	autocrlf = Input
[push]
	default = simple
[alias]
	ll = log --graph --full-history --date-order --all --decorate --date=short --pretty=format:'%C(bold yellow)%h%Creset %C(red)%d%Creset %s %C(magenta)(%cd)%Creset' --color
	lc = log --graph --date-order --decorate --date=short --pretty=format:'%C(bold yellow)%h%Creset %C(red)%d%Creset %s %C(magenta)(%cd)%Creset' --color
	files = show --pretty=format: --name-status
	today = log --name-only --pretty=format: --since=8am
	st = status -s
	g = grep -n --heading --break
